//确认界面
#confirm {
  //display: none;
  position: absolute;
  left: (125rem/20);
  top: (420rem/20);
  width: (500rem/20);
  height: (240rem/20);
  background: white;
  border-radius: (20rem/20);
  font-size: (28rem/20);
  overflow: hidden;
  #confirmInfo {
    width: 100%;
    height: (160rem/20);
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    p:nth-child(1) {
      padding-top: (45rem/20);
    }
    p:nth-child(2) {
      margin-top: (25rem/20);
      span {
        color: rgb(255, 85, 105);
      }
    }
  }
  #confirmBtn {
    width: 100%;
    height: (80rem/20);
    button {
      background: white;
      border: none;
      float: left;
      width: (250rem/20);
      height: 100%;
      font-size: (28rem/20);
      color: rgb(255, 85, 105);
    }
    button:nth-child(1) {
      border-right: 1px solid #e5e5e5;
    }
  }
}
